header{
    /* inserimento pattern sfondo */
    background-image: url(img/pattern.png);
    /* inserimento colore sfondo */
    background-color: #6495ED;
    padding-top: 4%;
}

#logo-sito{
    width: 20%;
}


body{
    width: 75%;
    margin: 0 auto;
}

h1{
    font-size: 250%;
    margin-bottom: 0%;
}

#sottotitolo{
    color: #A9A9A9;
    font-size: 110%;
    font-weight: bold;
}

#sottotitolo-evidenziato{
    color: #00BFFF;
}

#data-sottotitolo{
    color: #A9A9A9;
    font-size: 80%;
    font-weight: bold;
    margin-bottom: 2%;
}

#descrizione-foto{
    margin-top: 0%;
    font-size: small;
}

#testo-evidenziato{
    background-color: yellow;
}

#intestazione-tabella{
    background-color: #6495ED;
    color: white;
}

.colonna{
    width: 25%;
}

.riga-azzurra{
    background-color: skyblue;
}